body {
    background-image: url("Imagenes/Textura.jpg");
}

h2 {
    font-family: Roboto Mono, Chango, Roboto;
    font-size: 32px;
    color: black;
    text-align: left;
}

.uno {
    font-family: Roboto Mono, Chango, Roboto;
    font-size: 32px;
    color: black;
    text-align: left;
    }


p {
    font-family: Montserrat, Chango, Roboto;
    font-size: 14px;
    color: black;
    text-align: left;
}

.categoria {
    font-family: Montserrat, Chango, Roboto;
    font-size: 14px;
    color: black;
    text-align: left;
}

li {
    font-family: Montserrat, Chango, Roboto;
    font-size: 12px;
    color: black;
    text-align: left;
}

.TablaHabilidades {
    font-family: Montserrat, Chango, Roboto;
    font-size: 12px;
    color: black;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: lawngreen;
}

.Principal {
    font-family: Montserrat, Chango, Roboto;
    font-size: 12px;
    color: black;
    text-align: left;
}